/** @format */

.gauge {
  position: absolute;
  height: 20px;
  max-width: 637px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sections {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section {
  height: 5px;
}
.section--green {
  background: green;
}
.section--orange {
  background: orange;
}
.section--red {
  background: red;
}

.units {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.line {
  height: 1px;
  background: #191919;
}

.ticks {
  display: flex;
  justify-content: space-between;
}
.tick {
  height: 5px;
  width: 1px;
  background: #191919;
}
.tick--big {
  position: relative;
  height: 10px;
}
.tick--big span {
  position: absolute;
  top: 10px;
  transform: translateX(-50%);
  font-size: 14px;
}
